<header class="page-header">
  <img src="assets/logo.png" alt="Logo" class="logo" />
  <h1 class="title">Multi Providers Authentication</h1>
  <div class="button-group" *ngIf="!auth.isLoggedIn">
    <button (click)="loginWithKeycloak()">Login with Keycloak</button>
    <button (click)="loginWithOkta()">Login with Okta</button>
  </div>
</header>
<div class="container" *ngIf="auth.isLoggedIn && auth.userInfo as user">
  <!-- ✅ Message de bienvenue personnalisé -->
  <p>
    Welcome
    <strong>{{ user?.info?.given_name || user?.info?.name || user?.info?.preferred_username }}</strong>,
    your role is:
    <strong>
      {{
      user?.roles?.[0] ||
      user?.resource_access?.['alibou-rest-api']?.roles?.[0]
      }}
    </strong>
  </p>

  <!-- ✅ Actions -->
  <button (click)="logout()">Logout</button>

  <hr />
  <button (click)="getUser()">GET /user</button>
  <button (click)="getAdmin()">GET /admin</button>

  <!-- ✅ Réponses -->
  <p *ngIf="userResponse"><strong>User:</strong> {{ userResponse }}</p>
  <p *ngIf="adminResponse"><strong>Admin:</strong> {{ adminResponse }}</p>
</div>